main {
    max-width: 1400px;
    margin: 20px auto;
    font-family: Inter;
}

/* banner section styles */
.banner-contaioner {
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(8, 8, 8, 0.3), rgba(53, 43, 49, 0.3)), url(../resources/Banner\ Image.png);
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 600px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.banner-contaioner {
    text-align: center;
    color: #f7f7f7;
    font-family: Merriweather;
}

.banner-contaioner p {
    padding-top: 170px;
    font-size: 32px;
    font-weight: 400;
}

.banner-contaioner h2 {
    font-size: 72px;
    font-weight: 900;
}

/* discount section style */
.discount-container {
    margin-top: 100px;
    text-align: center;
}

.discount-container h2 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;

}

.discount-container p {
    color: crimson;
    font-size: 24px;
    font-weight: 500;
}

.discount-container>.catagorie {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.discount-container img {
    margin-top: 40px;
}

/* welcome section style */
.welcome-container {
    margin-top: 80px;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(8, 8, 8, 0.692), rgba(53, 43, 49, 0.3)), url(../resources/Vectorrr.png);
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 600px;
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome-content {
    padding-left: 100px;
}

.welcome-content h2 {
    color: #FFF;
    font-weight: 900;
    font-family: Merriweather;
    font-size: 64px;
}

.welcome-content p {
    color: rgba(255, 255, 255, 0.80);
    font-weight: 400;
    text-align: justify;
    font-family: Inter;
    font-size: 18px;
    line-height: 35px;
}

.welcome-content button {
    background: none;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFF;
}

.welcome-content button:hover {
    color: #F00;
}

.welcome-img {
    padding-right: 120px;
}

/* venue section style */
.venue-container {
    margin-top: 80px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 500px;
    border-radius: 15px;
    align-items: center;
}

.venue-content {
    padding-top: 20px;
}

.venue-content P {
    padding-top: 20px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.venue-content P span {
    color: #F00;
}

.venue-content button {
    color: #FFF;
    max-width: 150px;
    margin: 30px 625px 0;
    text-align: center;
    font-family: Inter;
    background: #F00;
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 700;
}

.venue-content button:hover {
    background: darkred;
}

/* best offer section styles */

.best-offer {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-offer-pic {
    /* padding: 0 80px; */
    border: 20px solid #F00;
    align-items: center;
    border-radius: 100%;
}

.best-offer-left-content {
    padding-right: 60px;
}

.best-offer-left-content h2 {
    color: #070211;
    font-weight: 900;
    font-family: Merriweather;
    font-size: 48px;
}

.best-offer-left-content-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.best-offer-left-content-description,
.best-offer-right-content p {
    color: rgba(7, 2, 17, 0.60);
    font-weight: 400;
    font-family: Inter;
    font-size: 20px;
}

.best-offer-right-content {
    padding-left: 60px;
}

.best-offer-right-content h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

/* holiday section style */
.holiday-section {
    margin-top: 80px;
    text-align: center;
}

.holiday-section p {
    color: #070211;
    font-weight: 500;
    font-family: Inter;
    font-size: 24px;
}

.holiday-section h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday-section h2 span {
    color: #F00;
}

.holiday-section h3 {
    color: rgba(7, 2, 17, 0.60);
    padding: 0 150px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

/* fifty percent section style */
.fifty-percent {

    margin-top: 80px;
    background-image: url(../resources/Rectangle\ 1.png), url(../resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    height: 660px;
    object-fit: cover;
    background-position: top right, bottom right;
    display: flex;
    justify-content: space-between;
}

.right-img {
    position: relative;
    left: -280px;
}

/* Portfolio section style */
.portfolio-section {
    margin-top: 80px;
}

.portfolio-section h3 {
    color: #F00;
    font-weight: 500;
    font-family: Inter;
    font-size: 24px;
}

.portfolio-section h2 {
    color: #070211;
    font-weight: 900;
    font-family: Merriweather;
    font-size: 48px;
}

.portfolio-section p {
    color: rgba(7, 2, 17, 0.60);
    width: 950px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.portfolio-img-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* subscriber section style added */
.subscriber {
    margin: 80px 0px;
    text-align: center;
}

.subscriber h2 {
    color: #070211;
    font-weight: 900;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
}

.subscriber p {
    padding: 0 270px;
    color: rgba(7, 2, 17, 0.60);
    font-weight: 400;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}

.subscriber .email {
    background-color: #e0e0e0;
    border: none;
    color: #000000;
    padding: 12px 50px;
    border-radius: 5px;

}

.subscriber .submit {
    background-color: #F00;
    padding: 12px 20px;
    color: #FFF;
    border: none;
    border-radius: 5px;
}

/* footer  styles  */
footer {
    background: #070211;
    min-height: 250px;
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-content p {
    color: #FFF;
    font-weight: 400;
    font-family: Inter;
    font-size: 24px;
}

.top-content p>img {
    padding-right: 10px;
    width: 20px;
    height: 20px;
}
.middle-content{
    text-align: center;
    
}
.middle-content img{
    margin-right: 30px;
    padding: 20px 0;
}
.bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-content p{
    color: #FFF;
    font-weight: 400;
    font-family: Inter;
    font-size: 24px;
}